[submodule "content/themes/casper"]
	path = content/themes/casper
	url = https://github.com/TryGhost/Casper.git
[submodule "content/themes/velox"]
	path = content/themes/velox
	url = git@github.com:dreyacosta/velox.git
